# Terraform build folder
.terraform/

# Terraform state files
*.tfstate
*.tfstate.backup

# Terraform variable files (si sensibles)
*.tfvars
*.tfvars.json

# Local override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json