# Évite de copier des fichiers inutiles dans l’image Spring Boot
*.iml
.idea/
*.log

# Fichiers de config et système
.git/
.dockerignore
Dockerfile
README.md

# Terraform (si présent dans ce dossier)
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars